@{
    ViewBag.Title = "Index";
}

<script>
    function Empty() {
        alert("empty");
    }

    function BuildSubCat() {
        for (var index = 0; index < 100; index++) {
            var element = document.getElementById("hider " + index);
            if (element != null) {
                document.getElementById("hider " + index).style.display = 'none';
            }
        }

        var topCat = document.getElementById("topSelect").value;
        var finalid = "hider " + topCat;
        document.getElementById(finalid).style.display = 'inline-block';
    }

    function SubmitSubCat() {
        alert("submit sub cat");
    }
</script>

<h2></h2>
<a href="/Home/AddReview" class="btn btn-info" role="button">Add Review</a>

<h2>Select Items</h2>

<div class="dropdown">

    <h4>Category</h4>
    <select id="topSelect" class="form-control" onchange="BuildSubCat()">
        @for (int index = 0; index < ViewBag.categories.Count; index++)
        {
            <option value="@index">@ViewBag.categories[index].categoryName</option>
        }
    </select>

    <h4>SubCategory</h4>
    <form method="post">
        <div class="btn-group" role="group" aria-label="...">
            @for (int index = 0; index < ViewBag.categories.Count; index++)
            {
                <div id="hider @index" style="display: none;">
                    @foreach (var item in ViewBag.categories[index].subCategories)
                    {
                        <button type="submit" value="@item" name="button" class="btn btn-default">@item</button>
                    }
                </div>
            }
        </div>
    </form>
</div>