@model IEnumerable<Final.Models.Classification>

@{
    ViewBag.Title = "ClassificationsList";
}

<h2>ClassificationsList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArtworkID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenreID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArtworkID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenreID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
